.Vsechast2{
    padding: 1vw 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.poisk{
    padding-left: 40px;
    padding-top: 1vw;
}

.razmer{
    width: 50vw;
    background-color: #ededed;
}

.krasata{
    /*background-color: #ededed;*/
    padding-bottom: 1vw;
    padding-top: 1.4vw;
    padding-left: 1vw;
    padding-right: 1.2vw;
}

.userr{
    padding-left: 8vw;
    padding-bottom: 1vw;
}

.korzina{
    padding-bottom: 1vw;
    padding-left: 2vw;
}
